.game-finised-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.game-finised-container  p.success{
    color: green;
}

.game-finised-container  p.failure{
    color: red;
}